$("#geoLocation").html("HELLO");

$("#geoLocationLat").html("緯度：<%= @lat %>");
$("#geoLocationLon").html("経度：<%= @lon %>");
$("#geoLocationAdd").html("住所：<%= @address %><BR><BR>");

var ymap = new Y.Map("yamap");
ymap.drawMap(new Y.LatLng(<%= @lat %>, <%= @lon %>), 17, Y.LayerSetId.NORMAL);

<% cnt = 0 %>
<%    @result["results"]["shop"].each{|i| %>
    $("#geoRecommend").append("<a href=\"#\" onclick=\"test(<%= cnt %>); return false;\"><%= i["name"] %></a>")
    <% cnt += 1 %>
    var label = new Y.Label(new Y.LatLng(<%= i["lat"] %>,<%= i["lng"] %>), "<%= i["name"] %>");
    ymap.addFeature(label);
<% } %>
$("#geoRecommend").append("<BR>")
<%    @result2["events"].each{|i| %>
    <%    i["event"].each{|j| %>
        /* $("#geoRecommend").append("<%= link_to j["title"], "#" %>") */
        $("#geoRecommend").append("<a href=\"#\" onclick=\"test(); return false;\"><%= j["title"] %></a>")
        var label = new Y.Label(new Y.LatLng(<%= j["lat"] %>,<%= j["lon"] %>), "<%= j["title"] %>");
        ymap.addFeature(label);
    <% } %>
<% } %>

function test(i)
{
   <% index = capture do %>i<% end %>
   $("#geoRecommend2").html("<%= @result["results"]["shop"][index.to_i]["address"] %>");
   $("#geoRecommend2").toggle();
}
