$("#geoLocation").html("HELLO");

$("#geoLocationLat").html("緯度：<%= @lat %>");
$("#geoLocationLon").html("経度：<%= @lon %>");
$("#geoLocationAdd").html("住所：<%= @address %><BR><BR>");
$("#geoRecommend").html("");

$("#cb-hotpepper").prop("checked", true);
$("#cb-atnd").prop("checked", true);
$("#cb-dengen").prop("checked", true);

var ymap = new Y.Map("yamap");
ymap.drawMap(new Y.LatLng(<%= @lat %>, <%= @lon %>), 17, Y.LayerSetId.NORMAL);
var whereami = new Y.Marker(new Y.LatLng(<%= @lat %>, <%= @lon %>));
ymap.addFeature(whereami);

var markerList = {};
var markerListHotpepper = {};
var markerListAtnd = {};
var markerListDengen = {};

$("#cb-hotpepper").click(function(){
	if($("#cb-hotpepper").prop("checked") == true){
		addBaseMarker(markerListHotpepper);
	}else{
		removeBaseMarker(markerListHotpepper);
	}
});

$("#cb-atnd").click(function(){
	if($("#cb-atnd").prop("checked") == true){
		addBaseMarker(markerListAtnd);
	}else{
		removeBaseMarker(markerListAtnd);
	}
});

$("#cb-dengen").click(function(){
	if($("#cb-dengen").prop("checked") == true){
		addBaseMarker(markerListDengen);
	}else{
		removeBaseMarker(markerListDengen);
	}
});

<% if @result4 %>
	$("#tw_keywords").html("");
<% @result4.each{|key, value| %>
	$("#tw_keywords").append("<span><%= key %></span>");
<% } %>
<% end %>

<% cnt = 0 %>
<%    @result5.each{|key,i| %>
    $("#geoRecommend").append("<a href=\"#\" id=\"menu<%= cnt %>\" onclick=\"test(<%= cnt %>); return false;\"><%= i["name"] %></a>")
    <% str = "" %>
    <% str += "<p><img border=\\\"0\\\" src=\\\"" + i["logo_image"] + "\\\"" + " alt=\\\"写真\\\"><span> 画像提供：ホットペッパー  グルメ</span></p>" %>
    <% str += "<dl><dt>住所</dt><dd>" + i["address"] + "</dd>" %>
    <% str += "<dt>アクセス</dt><dd>" + i["mobile_access"] + "</dd>" %>
    <% str += "<dt>営業時間</dt><dd>" + i["open"] + "</dd>" %>
    <% str += "<dt>定休日</dt><dd>" + i["close"] + "</dd>" %>
    <% str += "<dt>ジャンル</dt><dd>" + i["genre"]["name"] + "</dd>" %>
    <% str += "<dt>URL</dt><dd>" + "<a href=\\\"" + i["urls"]["pc"] + "\\\" target=\\\"_blank\\\" style=\\\"border-bottom:none; padding:0; display:inline; \\\" >" + i["urls"]["pc"] + "</a></dd></dl>" %>
    <% str += "<p><a href=\\\"#\\\" class=\\\"icon-map-marker\\\" onclick=\\\"detailToMap(" + i["lat"] + "," + i["lng"] + "," + cnt.to_s + ")\\\">地図</a></p>"%>
    $("#geoRecommend").append("<div id=\"detail<%= cnt %>\" style=\"display: none; word-break:break-all; \"><%== str %></div>");
    <% cnt += 1 %>
    putIconH(<%= i["lat"] %>,<%= i["lng"] %>,"<%= i["name"] %>", "<%= i["genre"]["name"] %>", <%= cnt-1 %>)
<% } %>
$("#geoRecommend").append("<BR>")
    <%    @result7.each{|key, j| %>
        $("#geoRecommend").append("<a href=\"#\" id=\"menu<%= cnt %>\" onclick=\"test(<%= cnt %>); return false;\"><%= j["title"] %></a>");
        <% str = "" %>
    	<% str += "<p><img border=\\\"0\\\" src=\\\"" + j["logo_image"] + "\\\"" + " alt=\\\"写真\\\"> </p>" %>
    	<% str += "<dl><dt>開催場所</dt><dd>" + j["address"] + "</dd>" %>
    	<% str += "<dt>開催会場</dt><dd>" + j["place"] + "</dd>" %>
    	<% str += "<dt>URL</dt><dd>" + "<a href=\\\"" + j["event_url"] + "\\\" target=\\\"_blank\\\" style=\\\"border-bottom:none; padding:0; display:inline; \\\" >" +  j["event_url"] + "</a>" + "</dd>" %>
    	<% str += "<dt>開催期間</dt><dd>" + (j["kikan"].nil? ? "" : j["kikan"]) + "</dd>" %>
    	<% str += "<dt>主催者</dt><dd>" + j["owner_nickname"] + "</dd></dl>" %>
    	<% str += "<p><a href=\\\"#\\\" class=\\\"icon-map-marker\\\" onclick=\\\"detailToMap(" + j["lat"] + "," + j["lon"] + "," + cnt.to_s + ")\\\"> 地図</a></p>"%>
        $("#geoRecommend").append("<div id=\"detail<%= cnt %>\" style=\"display: none; word-break:break-all; \"><%== str %></div>");
        <% cnt += 1 %>
        putIconA(<%= j["lat"] %>,<%= j["lon"] %>,"<%= j["title"] %>", <%= cnt-1 %>)
    <% } %>
<%    @result6.each{|key,i| %>
    $("#geoRecommend").append("<a href=\"#\" id=\"menu<%= cnt %>\" onclick=\"test(<%= cnt %>); return false;\"><%= i["title"] %></a>")
    <% str = "" %>
    <% str += "<dl><dt>住所</dt><dd>" + i["address"] + "</dd>" %>
    <% str += "<dt>無線LAN</dt><dd>" + i["wireless"] + "</dd>" %>
    <% str += "<dt>その他</dt><dd>" + i["tag"] + "</dd>" %>
    <% str += "<dt>URL</dt><dd>" + "<a href=\\\"" + i["mo_url"] + "\\\" target=\\\"_blank\\\" style=\\\"border-bottom:none; padding:0; display:inline; \\\" >" + i["mo_url"] + "</a>" + "</dd></dl>" %>
    <% str += "<a href=\\\"#\\\" class=\\\"icon-map-marker\\\" onclick=\\\"detailToMap(" + i["latitude"] + "," + i["longitude"] + "," + cnt.to_s + ")\\\">地図</a>"%>
    $("#geoRecommend").append("<div id=\"detail<%= cnt %>\" style=\"display: none; word-break:break-all; \"><%== str %></div>");
    <% cnt += 1 %>
    putIconD(<%= i["latitude"] %>,<%= i["longitude"] %>,"<%= i["title"] %>", <%= cnt-1 %>)
<% } %>

function test(i)
{
    $("#detail" + i).toggle('slow');
    if($("#detail" + i).css("display") == "none")
    {
        $("#menu" + (i+1)).css("border-top", "hidden");
        $("#menu" + i).css("border-bottom", "1px solid #fff");
    }
    else
    {
        /* $("#menu" + (i+1)).css("border-top", "1px solid #fff"); */
        $("#menu" + i).css("border-bottom", "hidden");
    }
}

function putIconH(lat, lon, title, genre, index){
    var icon = new Y.Icon("/assets/hot_icon.png");
    var marker = new Y.Marker(new Y.LatLng(lat, lon), {icon: icon});
    marker.bindInfoWindow(title + "<br>" + "<span style=\"font-size: x-small;\">" + genre + "</span>" + "<br><a href=\"#\" onclick=\"expandDetail(" + index + ")\" style=\"color:orange\">詳細</a>");
    ymap.addFeature(marker);
    markerList[index] = marker;
    markerListHotpepper[index] = marker;
}

function putIconA(lat, lon, title, index){
    var label = new Y.Label(new Y.LatLng(lat, lon), title);
    var icon = new Y.Icon("/assets/atnd_icon.png");
    var marker = new Y.Marker(new Y.LatLng(lat, lon), {icon: icon});
    marker.bindInfoWindow(title + "<br><a href=\"#\" onclick=\"expandDetail(" + index + ")\" style=\"color:orange\">詳細</a>");
    ymap.addFeature(marker);
    markerList[index] = marker;
    markerListAtnd[index] = marker;
}

function putIconD(lat, lon, title, index){
    var label = new Y.Label(new Y.LatLng(lat, lon), title);
    var icon = new Y.Icon("/assets/dengen_icon.png");
    var marker = new Y.Marker(new Y.LatLng(lat, lon), {icon: icon});
    marker.bindInfoWindow(title + "<br><a href=\"#\" onclick=\"expandDetail(" + index + ")\" style=\"color:orange\">詳細</a>");
    ymap.addFeature(marker);
    markerList[index] = marker;
    markerListDengen[index] = marker;
}

function expandDetail(i){
	if(!$(menuRight).hasClass("cbp-spmenu-open")){
		classie.toggle( body, 'cbp-spmenu-push-toleft' );
		classie.toggle( menuRight, 'cbp-spmenu-open' );
	}
	var idstr = "#detail";
	idstr += String(i);
	if($(idstr).css("display") == "none"){
		test(i);
//		$(idstr).toggle();
	}
	var target = $("#detail" + i);
	var targetOffset = target.offset().top;
	var zeroOffset = $("#getLocation").offset().top;
	$(menuRight).animate({scrollTop: (targetOffset - zeroOffset)},400);
}

function detailToMap(lat, lon, index){
	if($(menuRight).hasClass("cbp-spmenu-open")){
		classie.toggle( body, 'cbp-spmenu-push-toleft' );
		classie.toggle( menuRight, 'cbp-spmenu-open' );
	}
//	ymap.panTo(new Y.LatLng(lat, lon), true);
	markerList[index].node.click();
}

function removeBaseMarker(baseMarkerList){
	for(var key in baseMarkerList){
		var marker = baseMarkerList[key];
		ymap.removeFeature(marker);
	}
}

function addBaseMarker(baseMarkerList){
	for(var key in baseMarkerList){
		var marker = baseMarkerList[key];
		ymap.addFeature(marker);
	}
}
