$("#geoLocation").html("HELLO");

$("#geoLocationLat").html("緯度：<%= @lat %>");
$("#geoLocationLon").html("経度：<%= @lon %>");
$("#geoLocationAdd").html("住所：<%= @address %><BR><BR>");

var labelList = {};
var ymap = new Y.Map("yamap");
ymap.drawMap(new Y.LatLng(<%= @lat %>, <%= @lon %>), 17, Y.LayerSetId.NORMAL);

<% cnt = 0 %>
<%    @result["results"]["shop"].each{|i| %>
    $("#geoRecommend").append("<a href=\"#\" onclick=\"test(<%= cnt %>); return false;\"><%= i["name"] %></a>")
    <% str = "" %>
    <% str += "開催場所：" + i["address"] + "<br>" %>
    $("#geoRecommend").append("<div id=\"detail<%= cnt %>\" style=\"display: none\"><%== str %></div>");
    <% cnt += 1 %>
    putIconH(<%= i["lat"] %>,<%= i["lng"] %>,"<%= i["name"] %>")
<% } %>
$("#geoRecommend").append("<BR>")
<%    @result2["events"].each{|i| %>
    <%    i["event"].each{|j| %>
        /* $("#geoRecommend").append("<%= link_to j["title"], "#" %>") */
        $("#geoRecommend").append("<a href=\"#\" onclick=\"test(<%= cnt %>); return false;\"><%= j["title"] %></a>");
        <% str = "" %>
    	<% str += "開催場所：" + j["address"] + "<br>" %>
    	<% str += "開催会場：" + j["place"] + "<br>" %>
    	<% str += "URL：" + j["event_url"] + "<br>" %>
    	<% str += "イベント開催日時：" + j["started_at"] + "<br>" %>
    	<% str += "イベント終了日時：" + j["ended_at"] + "<br>" %>
    	<% str += "主催者：" + j["owner_nickname"] + "<br>" %>
        $("#geoRecommend").append("<div id=\"detail<%= cnt %>\" style=\"display: none\"><%== str %></div>");
        /* $("#geoRecommend").append("<div id=\"detail<%= cnt %>\" style=\"display: none\"><%== j["description"].gsub("\"", "\\\"") %></div>"); */
        <% cnt += 1 %>
        putIconA(<%= j["lat"] %>,<%= j["lon"] %>,"<%= j["title"] %>")
    <% } %>
<% } %>

function test(i)
{
   <% index = capture do %>i<% end %>
   /* $("#geoRecommend2").html("<%= @result["results"]["shop"][index.to_i]["address"] %>"); */
   /* $("#geoRecommend2").toggle(); */
  var idstr = "#detail";
  idstr += String(i);
  $(idstr).toggle();
}

function putIconH(lat, lon, title){
    var icon = new Y.Icon("/assets/hot_icon.png");
    var marker = new Y.Marker(new Y.LatLng(lat, lon), {icon: icon});
    marker.shopName = title;
    ymap.addFeature(marker);
    marker.bind('click', function(){
    	for (var key in labelList) {
    		ymap.removeFeature(labelList[key]);
    		delete labelList[key];
    	}
		var label = new Y.Label(new Y.LatLng(lat, lon), this.shopName);
		ymap.addFeature(label);
		labelList[this.shopName] = label;
	});
}

function putIconA(lat, lon, title){
    var label = new Y.Label(new Y.LatLng(lat, lon), title);
    var icon = new Y.Icon("/assets/atnd_icon.png");
    var marker = new Y.Marker(new Y.LatLng(lat, lon), {icon: icon});
    marker.eventTitle = title;
    ymap.addFeature(marker);
    marker.bind('click', function(){
    	for(var key in labelList){
    		ymap.removeFeature(labelList[key]);
    		delete labelList[key];
    	}
		var label = new Y.Label(new Y.LatLng(lat, lon), this.eventTitle);
		ymap.addFeature(label);
		labelList[this.eventTitle] = label;
	});
}

function deleteLabel(){
	
}
